<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.seismograph.mapper.AppUserMapper">
    
    <resultMap type="AppUser" id="AppUserResult">
        <result property="userId"    column="user_id"    />
        <result property="userAccount"    column="user_account"    />
        <result property="pwd"    column="pwd"    />
        <result property="name"    column="name"    />
        <result property="enterpriseId"    column="enterprise_id"    />
        <result property="status"    column="status"    />
        <result property="token"    column="token"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAppUserVo">
        select user_id, user_account, pwd, name, enterprise_id, status, token, create_time, update_time from t_user
    </sql>

    <select id="selectAppUserList" parameterType="AppUser" resultMap="AppUserResult">
        <include refid="selectAppUserVo"/>
        <where>  
            <if test="userAccount != null  and userAccount != ''"> and user_account like concat('%', #{userAccount}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="enterpriseId != null "> and enterprise_id = #{enterpriseId}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectAppUserByUserId" parameterType="Long" resultMap="AppUserResult">
        <include refid="selectAppUserVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertAppUser" parameterType="AppUser" useGeneratedKeys="true" keyProperty="userId">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userAccount != null and userAccount != ''">user_account,</if>
            <if test="pwd != null and pwd != ''">pwd,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="enterpriseId != null">enterprise_id,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="token != null">token,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userAccount != null and userAccount != ''">#{userAccount},</if>
            <if test="pwd != null and pwd != ''">#{pwd},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="enterpriseId != null">#{enterpriseId},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="token != null">#{token},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAppUser" parameterType="AppUser">
        update t_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userAccount != null and userAccount != ''">user_account = #{userAccount},</if>
            <if test="pwd != null and pwd != ''">pwd = #{pwd},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="enterpriseId != null">enterprise_id = #{enterpriseId},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="token != null">token = #{token},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteAppUserByUserId" parameterType="Long">
        delete from t_user where user_id = #{userId}
    </delete>

    <delete id="deleteAppUserByUserIds" parameterType="String">
        delete from t_user where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>